body {
    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    background-color: slateblue;
    padding: 70px;
    border-radius: 25px;
    margin: 50px;
    border: 2px solid black;
    box-shadow: 0px 15px 40px #7E6D5766;

}

#sketch-pad {
    background-color: lightslategray;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.sketch-box {
    display: flex;
    margin: 0;
    padding: 0;
}

.sketch-box:hover {
    background-color: black;
}

.sketch-box:hover:active {
    background-color: white;
}

button, input {
    background-color: slateblue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;    
}

button {
    width: 100px;
    height: 50px;
    box-shadow: 0px 15px 40px #7E6D5766;
}

button:hover {
    background-color: lightslategray;
    color: black;
}

.slider {
    width: 200px;
    height: 60px;
    padding: 30px;
    margin: 50px;
    padding-left: 40px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
 }
 
 .slider p {
    font-size: 26px;
    font-weight: 600;
    font-family:  Open Sans;
    padding-left: 30px;
    color: #7E6D57;
 }
 
 .slider input[type=”range”] {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 420px;
    height: 2px;
    background: #7E6D57;
    border: none;
    outline: none;
 }
 
 .slider input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height: 30px;
    background: #fcfcfc;
    border: 2px solid #7E6D57;
    border-radius: 50%;
    cursor: pointer;
 }
 
 .slider input[type=”range”]::-webkit-slider-thumb:hover {
    background: #7E6D57;
 }

/* Path: flex-o-sketch/styles/style.css */
body {
    display: flex;
    justify-content: center;
}
